.nav-link {
    color: rgb(0 0 0) !important;
    font-size: 18px;
}
span.cart-badge {
    background-color: #fb368a !important;
    position: absolute;
    top: 8px;
    padding: 3px 4px;
}
.navbar svg.svg-inline--fa.fa-cart-arrow-down.fa-w-18 {
    color: #2bf5cc;
    font-size: 23px;
    margin-right: 2px;
}
.navbar-light .navbar-nav .nav-link:nth-child(5) {
    margin-right: 24px;
}
.cart-icon {
    position: relative;
}