.top-banner {
    height: 100%;
}
.party-text {
    padding: 25px 0;
}
.party-text h6{
    /* color: #023B59; */
    color: #FB2E86;
    font-size: 20px;
}
.party-text h2 {
    font-size: 38px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.party-text p {
    color: #E1D1F6;
}
.party-img {
    width: 100%;
    overflow: hidden;
}
.party-img img {
    height: 500px;
    width: 100%;
    object-fit: contain;
}
a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    color: #fff;
}

/* button  */
.btn-book {
    position: relative;
    display: inline-block;
    padding: 7px 24px;
    margin: 0 16px;
    color: #fff !important;
    text-decoration: none !important;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    cursor: pointer;
    /* background: linear-gradient(90deg, #0162c8, #55e7fc); */
    background: linear-gradient(90deg, #fc9cc5, #FB2E86);
}
.top-banner .container::before {
    height: 100vh;
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-image: url(https://i.ibb.co/MsjqJ5M/bulb-removebg-preview.png);
    background-repeat: no-repeat;
}
.top-banner {
    background-color: #F2F0FF;
    position: relative;
    overflow: hidden;
}
@media only screen and (max-width: 450px){
    .top-banner .container::before {
        right: -293px;
    }    
}